
img
{width:100px;
height:100px;
}
th
{font-size:2em;
background-color:pink;
padding:20px;
}
body{
font-family:italic;
text-align:center;
background-color:slateblue;
}
table
{
table-align:center;
text-align:center;
background-color:white;
width:50em;
}
td{padding:20px;}